<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hall of Fame</title>
</head>
<body>
<div class="row">
    <div class="col-5">
        <h1>Над проектом работали:</h1>
        <h2>Denis Kalesnikau</h2>
        <p><a href="https://github.com/Lisanis/">Github</a></p>
        <p><a href="https://www.linkedin.com/in/dzianis-k-305909236/">LinkedIn</a></p>
        <h2>Dmitry Vadiutin</h2>
        <p><a href="https://github.com/B1tRunner/">GitHub</a></p>
        <p><a href="http://linkedin.com/in/dmitry-vadiutin-87b219237">LinkedIn</a></p>
    </div>
</div>
</body>
</html>